body, html {
    height: 100%;
    margin: 0;
    font-family: 'Georgia', serif;
    line-height: 1.6;
    background: linear-gradient(to right, #f9d423, #ff4e50); /* Yellow to Blue gradient */
    color: #d3d3d3; /* Light grey text color */
    text-align: center;
}

header {
    background: rgba(255, 255, 255, 0.8); /* Slightly transparent white */
    padding: 1em 0;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Adding shadow for better visibility */
}

h1 {
    color: #f9d423; /* Yellow color for titles */
}

nav ul {
    list-style: none;
    padding: 0;
    display: inline-block;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
    background-color: rgba(255,255,255,0.2);
    box-shadow: 0 0 10px #f9d423; /* Shadow effect on hover */
}

main {
    padding-top: 100px; /* Adjusted to ensure content doesn't overlap header */
}

/* Responsive Design */
@media (max-width: 600px) {
    nav ul li {
        display: block;
        text-align: center;
    }

    nav ul li a {
        display: block;
        margin-bottom: 5px;
    }
}
