body, html {
    height: 100%;
    margin: 0;
    font-family: 'Georgia', serif;
    line-height: 1.6;
    background: linear-gradient(to right, #ff9a9e, #fad0c4, #fad0c4);
    color: #333;
    text-align: center; /* Ensure text is centered */
}

header {
    background: transparent;
    padding: 1em 0;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    display: inline-block; /* Align the navigation menu */
    margin: 0; /* Remove default margin */
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid transparent; /* Remove persistent border */
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
    background-color: rgba(255,255,255,0.2);
    box-shadow: 0 0 10px #fad0c4;
    border-color: #fad0c4; /* Only show border on hover */
}

main {
    padding-top: 80px; /* Adjust as needed */
}

footer .social-media-links a {
    color: #333;
}

/* Responsive Design */
@media (max-width: 600px) {
    nav ul li {
        display: block;
        text-align: center;
    }

    nav ul li a {
        display: block;
        margin-bottom: 5px;
    }
}
