body, html {
    height: 100%;
    margin: 0;
    font-family: 'Georgia', serif; /* More elegant font */
    line-height: 1.6;
    text-align: center; /* Center align all text */
    background: linear-gradient(to right, #ff9a9e, #fad0c4, #fad0c4); /* Pastel red, yellow, pink gradient */
    color: #333;
}

header {
    background: transparent;
    padding: 1em 0;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ff9a9e; /* Border color matching gradient start */
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover, nav ul li a.active {
    background-color: rgba(255,255,255,0.2);
    box-shadow: 0 0 10px #fad0c4; /* Shining effect on hover */
    border-color: #fad0c4;
}

main {
    padding-top: 80px;
}

footer .social-media-links a {
    color: #333; /* Same as the text color */
}

/* Other styles remain unchanged */
